<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing images</title>
    <link rel="stylesheet" href="css/styles.css" />
    
</head>

<body>
    <div class="container">
        <header>
            <h1>Editing Images</h1>
        </header>
        <h2>Image 1</h2>
        <img src="images/beach1.jpg" alt="beach">
        <p></p>
        <img src="images/beach1-gimp.jpg" alt="beach rotate">
        <p>This image has been rotated and scaled.</p>
        <h2>Image 2</h2>
        <img src="images/crochet1.jpg" alt="doily">
        <img src="images/crochet1-gimp.JPEG" alt="doily crop">
        <p>This image has been cropped and scaled.</p>
        <h2>Image 3</h2>
        <img src="images/ocean1.jpg" alt="whale">
        <img src="images/ocean1-gimp.jpg" alt="whale resize">
        <p>This image has been resized by scaling</p>
        <h2>Image 4</h2>
        <img src="images/crochet2.jpg" alt="doily2">
        <img src="images/crochet2-gimp.JPEG" alt="doily crop">
        <p>This image has been cropped and scaled.</p>
        <h2>Image 5</h2>
        <img src="images/flower1.jpg" alt="">
        <img src="images/flower1-gimp.jpg" alt="flower flip">
        <p>This image has been flipped and scaled.</p>
    </div>

</body>

</html>